#alarmAlert {
	position: absolute;
	width: 150px;
	top: 35px;
	text-align: center;
	display: inline-block;
	margin: 0px 25% 25% 25%;
	
}
#div_hltHeatPower .alert {
	height: 10px;
}

#mashZonePanel .panel-body {
	padding: 0px;
}

#boilZonePanel .panel-body {
	padding: 0px;
}

#mashMinutes {
	width: 100px;
}
#mashHours {
	width: 90px;
}
#boilMinutes {
	width: 100px;
}
#boilHours {
	width: 90px;
}
.valveBtn .btn {
	width: 125px;
}
#wrap {
    display: block;
    margin: 0 auto;
    width: 250px;
}
.serial {
    width: 40px;
}
#valveSelect {
	width: 140px;
	height: 30px;
}
.btn-Valves input[type="radio"]:checked+label {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-Valves {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.vesselSet {
	font-weight: bold;
}
.vesselTemp {
	font-size: 1.7em;
	font-weight: bold;
}

.vesselPanel {
	min-height: 305px;
	background-color: #000000;
	color: #EDEDED
}

#mashTimePicker input {
	background-color: #FFFFFF;
}

#boilTimePicker input {
  background-color: #FFFFFF;
}

.seg {
	background-color: #000000;
	//border:3px inset #CCCCCC;
} 

#hltLED {
	padding-right: 5px;
}
#mashLED {
  padding-right: 5px;
}
#boilLED {
  padding-right: 5px;
}
.panel .panel-heading {
	background-color: #000000;
}

.vesselPanel .panel-heading {
	height: 45px;
}
.timer-top {
	min-height: 151px;
}
.timerText{
	font-weight: bold;
	font-size: 2em;
}
.led {
    margin: 10px auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
}
.led-red {
    background-color: #F00;
    box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}
.led-orange {
    background-color: #FF7000;
    box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}
.led-yellow {
    background-color: #FF0;
    box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
    background-color: #80FF00;
    box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-blue {
    /* background-color: #06F; */
    /* box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px; */
}
.led-box {
  margin: 10px 0;
  width: 35px;
}
.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}